@{
    ViewBag.Title = "Login";
}

<link href="../../Content/css/Account/Login.css" rel="Stylesheet" />

<!--**************************Log in Page***************************-->
<div class="fullScreenContainer" id="loginPage">

        <div class="formHolder">
                  <form class="form-signin" role="form">
                        <h2 class="form-signin-heading">Log in</h2>                  
                        <input type="text" class="form-control" placeholder="Email address" required autofocus>
                        <input type="password" class="form-control" placeholder="Password" required>
                        <label class="checkbox">
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                        <button class="btn btn-lg btn-blue btn-block" type="submit">Log in</button>
                        <a href="/Account/PasswordReset">Forgot Password</a>     
                  </form>
                  <hr />
                  <p>Don't have an account yet? <a href="/account/signup">Sign up now</a> - It's Easy!</p>
                  <fb:login-button data-size="xlarge">Log in with Facebook</fb:login-button>
        </div>

</div>

<script>
    function document_ready() {
        /* ----------------------use backstretch to center image------------- */
        $('#loginPage').backstretch("../../Content/images/girltyping_sm.jpg");
        $('footer').css('position', 'absolute').css('bottom', '0').css('left', '0');
    }
</script>