@{
    ViewBag.Title = "NewPassword";
}


<!--**************************New Password Page***************************-->
<div class="fullScreenContainer" id="newPwPage">

    <div class="formHolder">
        <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Please enter new password</h2>
            <input type="password" class="form-control" placeholder="Password" required autofocus>
            <input type="password" class="form-control" placeholder="Re-enter password" required>
            <button class="btn btn-lg btn-blue btn-block" type="submit">Save</button>
        </form>
    </div>

</div>


<script>
    function document_ready() {
        /* ----------------------use backstretch to center image------------- */
        $('#newPwPage').backstretch("../../Content/images/guyonchair.jpg");
        $('footer').css('position', 'absolute').css('bottom', '0').css('left', '0');
    }
</script>
