@{
    ViewBag.Title = "PasswordReset";
}
<link href="../../Content/css/Account/PasswordReset.css" rel="Stylesheet" />

<!--**************************Password reset page***************************-->
<div class="fullScreenContainer" id="pwResetPage">
 
        <div class="formHolder">
              <form class="form-signin" role="form">
                    <h2 class="form-signin-heading">Forgot your password? Enter your email and get a link to reset your password.</h2>                  
                    <input type="text" class="form-control" placeholder="Email address" required autofocus>                                      
                    <a href="/Account/NewPassword" class="btn btn-lg btn-blue btn-block" type="submit">Reset Password</a>     
              </form>
              <hr />              
              <a href="/Account/Login">Log In</a>
        </div>
 
</div>

<script>
    function document_ready() {
        /* ----------------------use backstretch to center image------------- */
        $('#pwResetPage').backstretch("../../Content/images/scaredguy3.jpg");
        $('footer').css('position', 'absolute').css('bottom', '0').css('left', '0');
    }
</script>