/* FULL SCREEN IMAGE FOR FRONT PAGE
-------------------------------------------------- */

#frontpageImage {
height: 100%;
width:100%;   
position: relative;
/*background-image: url(../../Content/images/girltyping4_sm_square.jpg);*/
}


#frontpageimageContent {
position: absolute;
top:0;
left:0;   
height:100%;
width:100%;
}

#frontpageimageContent h1 {
position: absolute;
top: 45%;
color: #fff;
left: 20%;
font-size: 50px;
background-color: #000;
}

#frontpageimageContent h2 {
position: absolute;
top: 65%;
color: #000;
left: 30%;
font-size: 40px;
background-color: #fff;
padding:0;
}
